.cicrle{
    width: 200px;
    height: 200px;
    background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}